# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cef.tar.bz2
cef_unverified.tar.bz2
cef
debug
release
gen
GPUCache
.DS_Store

# Mac Build Artifacts
Chromium Embedded Framework.framework/
libcef_dll_wrapper/

*.dmg

cef/
