[Desktop Entry]
Name=browservice
Type=Application
Terminal=true
NoDisplay=true
Exec=run_browservice
Icon=browservice
Categories=Development;
X-AppImage-Integrate=false
